<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Welcome Back </a>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="jumbotron py-3 mt-5">
    <h1 class="display-4 text-center">Card Details</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-card-details-form></app-card-details-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Card Holder</th>
                    <th>Card Number</th>
                    <th>Exp. Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.cardHolderName}}</td>
                    <td (click)="populateForm(pd)">{{pd.cardNumber}}</td>
                    <td (click)="populateForm(pd)">{{pd.expirationDate}}</td>
                    <td><i class="fa fa-trash fa-lg text-danger" (click)="confirmBox(pd.id)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>